.image {
  width: 60vw;
  object-fit: cover;

  &__map {
    width:30vw;
  }

  &__galery {
    width:40vw;
  }
  &--xs {
    position: absolute;
    left: -50px;
    width: 5vw;
    height: 20vh;
    object-fit: cover;

  }
}