//Colores
$white: #fff;
$white-fog: #EEEDED;
$white-grey: #989797;

$coral:#fa834c;
$coral-light: #f1dd7b;
$coral-pastel: #f5e7a1;

$flame: #e4572e;
$flame-light:#E87554;
$flame-pastel:#F2B2A0;

$green: #4ca866;
$green-light:#9DCFAB;
$green-pastel:#BDDFC7;

$blue: #3c91e6;
$blue-light: #5fa5ea;
$blur-pastel: #82B9EF;

$black: #000;
$iron: #454545;
$grey: #a2a2a2;


// Font sizes

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

//Family fonts
$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;

//Pading container

$mx-container: 2rem;