@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "shame/_shame.css";
:root {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: "PT Mono", monospace;
  padding-bottom: 10px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 18px;
}

p, span {
  font-size: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 3rem;
  justify-content: space-between;
}

.section {
  display: flex;
}
.section__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  width: 60%;
}
.section__right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 3rem;
  width: 40%;
}
.section .section-bt {
  display: flex;
}
.section .section-bt__left {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 60%;
}
.section .section-bt__right {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 40%;
}

.hero__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__links {
  display: flex;
  gap: 20px;
}

.btn {
  font-family: "PT Mono", monospace;
  text-align: center;
  padding: 10px;
  min-width: 9rem;
  max-width: 100%;
}
.btn--primary {
  background-color: #fff;
  border-color: solid 1px #000;
}
.btn--primary:hover {
  cursor: pointer;
  border: solid 1px #a2a2a2;
  color: #a2a2a2;
}
.btn--secondary {
  background-color: #4ca866;
  color: #fff;
}
.btn--secondary:hover {
  cursor: pointer;
  color: #454545;
  background-color: #9DCFAB;
}

.logo {
  width: 30px;
}

.hero__stats {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #EEEDED;
  height: 12vh;
  width: 30vw;
  gap: 5px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  padding: 10px 30px;
}
.stats--grey {
  background-color: #EEEDED;
}
.stats--yellow {
  background-color: #f1dd7b;
  width: 12vh;
  height: 12vh;
  position: absolute;
  left: 0%;
  bottom: 0%;
}
.stats--orange {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 12vh;
  height: 12vh;
  background-color: #e4572e;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.image {
  width: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.image__map {
  width: 30vw;
}
.image__galery {
  width: 40vw;
}
.image--xs {
  position: absolute;
  left: -50px;
  width: 5vw;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.map {
  position: absolute;
  top: 30px;
  right: 80px;
  display: flex;
}
.map__back {
  background-color: #3c91e6;
  min-width: 30vw;
  min-height: 25vh;
}

.block__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
  padding: 3rem;
}

a {
  color: #000;
  font-family: "PT Mono", monospace;
}
a:hover {
  cursor: pointer;
  color: #a2a2a2;
}/*# sourceMappingURL=main.css.map */